<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirim.simen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".single.encryption.SingleEncryptionLongActivity"></activity>
        <activity android:name=".single.encryption.SingleEncryptionShortActivity" />
        <activity android:name=".single.encryption.SingleEncryptionSelectActivity" />
        <activity android:name=".single.decode.SingleDecodeLongActivity" />
        <activity android:name=".single.decode.SingleDecodeShortActivity" />
        <activity android:name=".single.decode.SingleDecodeSelectActivity" />
        <activity android:name=".playfair.decode.PlayfairDecodeLongActivity" />
        <activity android:name=".playfair.decode.PlayfairDecodeShortActivity" />
        <activity android:name=".playfair.encryption.PlayfairEncryptionLongActivity" />
        <activity android:name=".playfair.encryption.PlayfairEncryptionShortActivity" />
        <activity android:name=".playfair.encryption.PlayfairEncryptionSelectActivity" />
        <activity android:name=".playfair.decode.PlayfairDecodeSelectActivity" />
        <activity android:name=".caesar.decode.CaesarDecodeLongActivity" />
        <activity android:name=".caesar.decode.CaesarDecodeShortActivity" />
        <activity android:name=".caesar.encryption.CaesarEncryptionLongActivity" />
        <activity android:name=".caesar.encryption.CaesarEncryptionShortActivity" />
        <activity android:name=".caesar.decode.CaesarDecodeSelectActivity" />
        <activity android:name=".caesar.encryption.CaesarEncryptionSelectActivity" />
        <activity android:name=".playfair.PlayfairSelectActivity" />
        <activity android:name=".single.SingleSelectActivity" />
        <activity android:name=".caesar.CaesarSelectActivity" />
        <activity android:name=".TitleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>